
			.layui-container{
				margin: 0 auto;
				width: 70%;
				height: 600px;
				top: 79px;
				position: relative;
				box-sizing: border-box;
			}
			.fly-panel{
				padding: 20px;
				height: 500px;
				margin-bottom:15px ;
				border-radius: 2px;
				background-color:#fff ;
			}
			.layui-tab-title li{
				vertical-align: middle;
				font-size: 17px;
				
				transition: 0.2s;
				position:absolute;
				line-height: 40px;
				padding: 0 15px;
				text-align: center;
				cursor: pointer;
				width: 60px;
				}
			.layui-tab-title{
				border-bottom: 1px solid #F2F2F2;
				height: 52px;
			}
			.layui-this,.layui-zuche{
				float: left;
				line-height: 60px;
				top: 30px;
			}
			.layui-form-title{
				position: absolute;
				top: 70px;
			}
			.layui-zuche{
				left: 90px;
				border-bottom:2px solid #009688 ;
			}
			.layui-form-label,.layui-tab-title{
				border-color:#e6e6e6 ;
			}
			label{
				border: 1px solid #E6E6E6;
				height: 41px;
				width: 100px;
				text-align: center;
				background: #fbfbfb;
			}
			input{
				margin: 0;
				height: 39px;
				width: 200px;
			}
			button{
				height: 40px;
				width: 90px;
				background: #009688;
				border: 1px solid #009688;
				border-radius: 2px;
				color:#fff;
				cursor: pointer;
			}
			.layui-form-label{
				float: left;
			}
			.layui-form-item{
				margin-top: 20px;
				line-height: 40px;
				}
			.layui-form-mid1{
				position: absolute;
				top: 85px;
				left: 320px;
				width: 200px;
				color: #999999;
			}
			.layui-form-mid2{
				position: absolute;
				top: 150px;
				left: 320px;
				width: 200px;
				color: #999999;
			}
			#radio{
				height: 20px;
				width: 40px;
				background: #009688;
				color: #009688;
			}
			a:hover{
				color: #009688;
			}