            *{margin: 0;padding: 0;}
			ul,li{list-style: none;}
			a{text-decoration:none;}
			img{border:0;}
			body{
				background: #f2f2f2;
			}
			#title{
				width: 100%;
				height: 63px;
				background: #393d49;
				position: fixed;
				left: 0;
				top:0;
				z-index: 100;
				}
			#logimg{
				margin-left: 13%;
				line-height: 61px;
				margin-right: 75px;
			}
			#title ul li{
				float:left;
			}
			#title ul li img{
				vertical-align: middle;
			}
			.title-li-a{
				color: #fff;
				font-size: 14px;
				}
			/*-- 隐藏item---*/
			.title-item{
				position: absolute;
				background: #fff;
				width: 120px;
				top: 60px;
				left: -30px;
				border:  1px solid #D5D5D5;
				display: none;
			}
			.title-item li{
				
				text-align: center;
				line-height: 40px;
				color: black;
				height: 40px;
				width: 100%;
			}
			.title-item li:hover{
				background: #E6E6E6;
			}
			.title-item-li{
				border-bottom: 1px solid #D5D5D5;
			}
			
			.lmar{
				margin-right: 52px;	
				height: 61px;
			}
			.op{
				opacity: 0.8; transition:0.5s;
			}
			.op:hover{
				opacity:1;
			}
			.kuang{
				margin-right: 28%;
			}
			.option{
				line-height: 61px;
			}
			/*---登录成功后头像的--*/
			.title-img{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				margin-left: 10px;
			}
			.nologin-user{
			   position: absolute;
				right: 20%;
			}
			.title-user{
				cursor: pointer;
				margin-top:7px;
				position: absolute;
				right: 20%;
			}